@using SoftwareVillage.Models;
@model Programming

<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kurs əlavə et</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="BlogTitle">
                        Kurs başlığı
                    </label>
                    <input asp-for="BlogTitle" type="text" class="form-control" placeholder="Kurs başlığı" />
                    <span asp-validation-for="BlogTitle"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BlogSubtitle">
                        Kurs altbaşlığı
                    </label>
                    <input asp-for="BlogSubtitle" type="text" class="form-control" placeholder="Kurs altbaşlığı" />
                    <span asp-validation-for="BlogSubtitle"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SignOfMoney">
                        Pul nişanı
                    </label>
                    <input asp-for="SignOfMoney" type="text" class="form-control" placeholder="Pul nişanı" />
                    <span asp-validation-for="SignOfMoney"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Payment">
                        Ödəniş
                    </label>
                    <input asp-for="Payment" type="number" class="form-control" placeholder="Ödəniş" />
                    <span asp-validation-for="Payment"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Time">
                        Müddət
                    </label>
                    <input asp-for="Time" type="text" class="form-control" placeholder="Müddət" />
                    <span asp-validation-for="Time"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description1">
                        Təsvir1
                    </label>
                    <input asp-for="Description1" type="text" class="form-control" placeholder="Təsvir" />
                    <span asp-validation-for="Description1"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description2">
                        Təsvir2
                    </label>
                    <input asp-for="Description2" type="text" class="form-control" placeholder="Təsvir" />
                    <span asp-validation-for="Description2"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description3">
                        Təsvir3
                    </label>
                    <input asp-for="Description3" type="text" class="form-control" placeholder="Təsvir" />
                    <span asp-validation-for="Description3"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description4">
                        Təsvir4
                    </label>
                    <input asp-for="Description4" type="text" class="form-control" placeholder="Təsvir" />
                    <span asp-validation-for="Description4"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description5">
                        Təsvir5
                    </label>
                    <input asp-for="Description5" type="text" class="form-control" placeholder="Təsvir" />
                    <span asp-validation-for="Description5"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Yadda saxla</button>
                <button class="btn btn-light">Ləğv et</button>
            </form>
        </div>
    </div>
</div>
