@using SoftwareVillage.Models;
@model AkademiyaAboutUs

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Haqqımızda</h4>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Photo">Photo</label>
                                <input asp-for="Photo" type="file" class="form-control" placeholder="Photo" />

                                <span asp-validation-for="Photo"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AboutUs">Haqqında</label>
                                <input asp-for="AboutUs" type="text" class="form-control" placeholder="Haqqında" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input asp-for="Title" type="text" class="form-control" placeholder="Başlıq" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Subtitle">Subtitle</label>
                                <input asp-for="Subtitle" type="text" class="form-control" placeholder="Altbaşlıq" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Special1">Special1</label>
                                <input asp-for="Special1" type="text" class="form-control" placeholder="Təsvir1" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Special2">Special2</label>
                                <input asp-for="Special2" type="text" class="form-control" placeholder="Təsvir2" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Special3">Special3</label>
                                <input asp-for="Special3" type="text" class="form-control" placeholder="Təsvir3" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Special4">Special4</label>
                                <input asp-for="Special4" type="text" class="form-control" placeholder="Təsvir4" />
                            </div>


                            

                            <button type="submit" class="btn btn-primary me-2">Yadda saxla</button>
                            <button class="btn btn-light">Ləğv et</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>